<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a [routerLink]="['/home']" class="navbar-brand d-flex align-items-center">
                <i class="fab fa-product-hunt"></i>
                <strong>{{title}}</strong>
            </a>
            <a [routerLink]="['/produtos']" class="navbar-brand">
                Produtos
            </a>
            <a [routerLink]="['/sobre']" class="navbar-brand">
                Sobre
            </a>
            <a [routerLink]="['/contato']" class="navbar-brand">
                Contato
            </a>
            <a [routerLink]="['/feature-data-binding']" class="navbar-brand">
                Features
            </a>
        </div>
    </div>
</header>